- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd
import numpy as np

In [43]:
# не меняем путь!
PATH = 'https://github.com/aksenov7/Kaggle_competition_group/blob/master/athlete_events.csv.zip?raw=true'

__0. Откройте файл используя необходимые параметры и не меняя переменную PATH__

In [44]:
data = pd.read_csv(PATH, compression='zip', sep=',')
data.head(20)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN

__1. Сколько лет было самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года ?__
- 16 и 15
- 14 и 13 
- 13 и 11
- 11 и 12

In [4]:
data[data["Year"] == 1992].groupby('Sex')['Age'].agg(np.min)

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

__2. Каков был процент баскетболистов-мужчин среди всех мужчин-участников Олимпийских игр 2012 года? Округлите ответ до первого десятичного знака.__

Здесь и далее при необходимости отбрасывайте дублированных спортсменов, чтобы считать только уникальных . 
- 0.2
- 1.5 
- 2.5
- 7.7

In [5]:
data_2012_M = data[(data["Year"] == 2012) & (data["Sex"] == 'M')]

round((len(data_2012_M[data_2012_M["Sport"] == "Basketball"]["Name"].unique())/len(data_2012_M["Name"].unique()))*100, 1)

2.5

__3. Каковы среднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого десятичного знака.__

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [6]:
round(data[(data["Year"] == 2000) & (data["Sex"] == 'F') & (data["Sport"] == 'Tennis')]["Height"].agg([np.mean, np.std]), 1)

mean    171.8
std       6.5
Name: Height, dtype: float64

__4. Найдите спортсмена, который участвовал в Олимпийских играх 2006 года, с наибольшим весом среди других участников той же Олимпиады. Каким спортом он или она занимался?__

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [7]:
heavy = data[(data["Year"] == 2006)]
heavy[heavy["Weight"]==heavy["Weight"].agg(np.max)]["Sport"]

8102    Skeleton
Name: Sport, dtype: object

__5. Сколько раз John Aalberg участвовал в Олимпийских играх в разные годы?__

Один год - это один раз. Неважно сколько участий внутри одного года
- 0
- 1 
- 2
- 3

In [19]:
data[data["Name"]=="John Aalberg"]["Year"].nunique()

2

__6. Сколько золотых медалей по теннису выиграли спортсмены сборной Switzerland на Олимпиаде-2008? Считайте каждую медаль от каждого спортсмена.__

- 0
- 1 
- 2
- 3

In [9]:
#Использовал в условии str.contains т.к есть разные Team Switzerland, Switzerland-1, Switzerland-2
data[(data["Sport"]=="Tennis") & (data["Team"].str.contains('Switzerland', regex=False)) & (data["Year"]==2008) & (data["Medal"]=="Gold")].shape[0]

2

__7. Правда ли, что на Олимпийских играх 2016 Spain выиграла меньше медалей, чем Италия?__ 

- Да
- Нет

In [10]:
#Использовал в условии str.contains т.к есть разные Team Spain, Spain-1, Spain-2        и       Italia, Italy, Italy-1, Italy-2, Italy-3
ans1 = data[(data["Team"].str.contains('Spain', regex=False)) & (data["Year"]==2016)] 
ans2 = data[(data["Team"].str.contains('Ital', regex=False)) & (data["Year"]==2016)]


count_ans1 = ans1[ans1["Medal"].isnull() == 0].shape[0]
count_ans2 = ans2[ans2["Medal"].isnull() == 0].shape[0]

if count_ans1 > count_ans2:
  print("Количество медалей Испании больше Италии")
  print("Нет")
elif count_ans1 < count_ans2:
  print("Количество медалей Италии больше Испании")
  print("Да")
else:
  print("Количество медалей Испании и Италии равны")

Количество медалей Италии больше Испании
Да

__8. К какой возрастной категории принадлежало наименьшее и наибольшее количество участников Олимпиады-2008?__

- [45-55] и [25-35) соответственно
- [45-55] и [15-25) соответственно
- [35-45) и [25-35) соответственно
- [45-55] и [35-45) соответственно

In [55]:
categor = data[data["Year"]==2008]

v1 = (categor[(categor['Age'] >= 15) & (categor['Age'] < 25) ].shape[0], "[15-25)")

v2 = (categor[(categor['Age'] >= 25) & (categor['Age'] < 35) ].shape[0], "[25-35)")

v3 = (categor[(categor['Age'] >= 35) & (categor['Age'] < 45) ].shape[0], "[35-45)")

v4 = (categor[(categor['Age'] >= 45) & (categor['Age'] <= 55 )].shape[0], "[45-55]")

ress = sorted([v1,v2, v3, v4],key=lambda c: -c[0])

print(ress[0][1],ress[len(ress)-1][1] )

[25-35) [45-55]

__9. Правда ли, что в Atlanta проводились летние Олимпийские игры? Правда ли, что в Squaw Valley проводились зимние Олимпийские игры? ?__

- Да, Да
- Да, Нет
- Нет, Да 
- Нет, Нет

In [13]:
atl_game = data[(data["City"]=="Atlanta") & (data["Season"]=="Summer")].shape[0]
squ_game = data[(data["City"]=="Squaw Valley") & (data["Season"]=="Winter")].shape[0]

if atl_game!=0:
  print("Да")
else:
  print("Нет")


if squ_game!=0:
  print("Да")
else:
  print("Нет")

Да
Да

__10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1986 года и Олимпиаде 2002 года?__

- 3 
- 10
- 15
- 27

In [21]:
one = data[data["Year"]==1986]["Sport"].nunique()
two = data[data["Year"]==2002]["Sport"].nunique()
print(abs(one - two))

15