**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult)**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/aksenov7/Kaggle_competition_group/master/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
gender=data["sex"]
male_count=len([i for i in gender if i=="Male"])
female_count=len([i for i in gender if i =="Female"])
print("количество мужчин",male_count,"количество женщин",female_count,"общее количество",male_count+female_count)

количество мужчин 21790 количество женщин 10771 общее количество 32561

In [5]:
print("средний возраст женщин",data.loc[data.sex=="Female"]["age"].mean())

средний возраст женщин 36.85823043357163

In [6]:
df=data.groupby("native-country").size()/len(data)*100
print("доля граждан Германии",df["Germany"])

доля граждан Германии 0.42074874850281013

In [7]:
df=data.groupby("salary")["age"].mean()
print("средние значения возраста тех, кто получает меньше 50K либо 50K в год",df["<=50K"])
print("средние значения возраста тех, кто получает больше 50K в год",df[">50K"])

средние значения возраста тех, кто получает меньше 50K либо 50K в год 36.78373786407767
средние значения возраста тех, кто получает больше 50K в год 44.24984058155847

In [8]:
df=data.groupby("salary")["age"].std()
print("среднеквадратичные отклонение возраста тех, кто получает меньше 50K либо 50K в год",df["<=50K"])
print("среднеквадратичные отклонения возраста тех, кто получает больше 50K в год",df[">50K"])

среднеквадратичные отклонение возраста тех, кто получает меньше 50K либо 50K в год 14.020088490824866
среднеквадратичные отклонения возраста тех, кто получает больше 50K в год 10.519027719851843

In [9]:
df=data[data["salary"]==">50K"]
count_people=len(df[df["education"]=="Bachelors"])+len(df[df["education"]=="Prof-school"])+len(df[df["education"]=="Assoc-acdm"])+len(df[df["education"]=="Assoc-voc"])+len(df[df["education"]=="Masters"])+len(df[df["education"]=="Doctorate"])
print("Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование?",len(df)==count_people)

Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? False

In [10]:
df=data.groupby(["race","sex"]).describe().loc['Amer-Indian-Eskimo'].loc['Male']
print("Максимальный возраст мужчин расы Amer-Indian-Eskimo.",df["age"]["max"])

Максимальный возраст мужчин расы Amer-Indian-Eskimo. 82.0

In [11]:
df=data[data["salary"]==">50K"]
df=df[df["sex"]=="Male"]
count_men=len(df[df["marital-status"]=="Married-civ-spouse"])+len(df[df["marital-status"]=="Married-spouse-absent"])+len(df[df["marital-status"]=="Married-AF-spouse"])
print("Доля среди женатых больше",count_men>len(df)-count_men)

Доля среди женатых больше True

In [12]:
max_number=data["hours-per-week"].describe()["max"]
max_count=len(data[data["hours-per-week"]==max_number])
max_count_people=data[data["hours-per-week"]==max_number]
max_count_rich=len(max_count_people[max_count_people["salary"]==">50K"])
print("максимальное время работы человека",max_number)
print("кол-во людей работающих максимальное количество времени",max_count)
print("процент зарабатывающих много",max_count_rich/max_count*100)

максимальное время работы человека 99.0
кол-во людей работающих максимальное количество времени 85
процент зарабатывающих много 29.411764705882355

In [13]:
print("среднее время работы зарабатывающих мало и много для каждой страны")
print(data.groupby(['native-country', 'salary'])['hours-per-week'].mean())

среднее время работы зарабатывающих мало и много для каждой страны
native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64