**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult)**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("https://raw.githubusercontent.com/aksenov7/Kaggle_competition_group/master/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
# def married(row):
#   return "Married" in row
data["married"] = data["marital-status"].apply(lambda row: "Married" in row)

In [3]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [21]:
print(data[data.sex == 'Male'].shape[0])
data[data.sex == 'Female'].shape[0]

21790

10771

**2. Каков средний возраст (признак *age*) женщин?**

In [19]:
data[data.sex == 'Female'].age.mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [23]:
data[data['native-country'] == 'Germany'].shape[0] / data.shape[0]

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [35]:
print(f"среднее значение для >50K: {data.age[data.salary == '>50K'].mean()}")
print(f"отклонение для >50K: {data.age[data.salary == '>50K'].std()}")
print(f"среднее значение для <=50K: {data.age[data.salary == '<=50K'].mean()}")
print(f"отклонение для <=50K: {data.age[data.salary == '<=50K'].std()}")

среднее значение для >50K: 44.24984058155847
отклонение для >50K: 10.519027719851826
среднее значение для <=50K: 36.78373786407767
отклонение для <=50K: 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [115]:
def check_education(value):
    education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
    return value in education


data[data.salary == '>50K'].education.apply(check_education).all()

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [16]:
print(f"Статситика по расе: {data.groupby('age').race.describe()}")
print(f"Статистика по полу: {data.groupby('age').sex.describe()}")
print(f"Максимальный возраст \"таким образом\": ")
data[data.race == 'Amer-Indian-Eskimo'].groupby('age').describe()[::-1]

# интересно, можно вывести статистику примерно таким способом?
# data.groupby('age').agg({'race':[data.race.describe()], 'sex':[data.sex.describe()]})

# не понял, зачем выводить максимальный возраст предложенным способом,
# на всякий случай вот еще вариант:
# data[data.race == 'Amer-Indian-Eskimo'].age.max()

    fnlwgt                                                               \
     count           mean            std       min        25%       50%
age
82     1.0   52921.000000            NaN   52921.0   52921.00   52921.0
80     1.0   20101.000000            NaN   20101.0   20101.00   20101.0
74     1.0   33114.000000            NaN   33114.0   33114.00   33114.0
71     1.0  322789.000000            NaN  322789.0  322789.00  322789.0
68     2.0   87848.000000   48080.432694   53850.0   70849.00   87848.0
67     1.0  126849.000000            NaN  126849.0  126849.00  126849.0
65     1.0  178931.000000            NaN  178931.0  178931.00  178931.0
63     2.0  237885.000000  293142.429849   30602.0  134243.50  237885.0
62     1.0   68461.000000            NaN   68461.0   68461.00   68461.0
61     1.0  130466.000000            NaN  130466.0  130466.00  130466.0
60     6.0   44603.833333   50954.030951   21101.0   22460.75   24543.5
59     2.0  161504.000000   62854.721780  117059.0  139281.50  161504.0
58     3.0   56484.666667   36365.178761   30111.0   35742.50   41374.0
57     3.0  172688.000000  142288.315111   29375.0  102067.50  174760.0
56     3.0  107913.000000   51293.126801   60166.0   80801.00  101436.0
55     3.0   92913.666667  113284.739971   26290.0   27512.50   28735.0
53     5.0   87174.000000   64892.475388   20438.0   20676.00  105728.0
52     2.0  262507.500000   28519.737806  242341.0  252424.25  262507.5
51    10.0  126893.200000   91869.051011   35211.0   44834.75   90176.5
50     4.0  120766.250000   82460.258045   32801.0   67187.00  114812.0
49     2.0  176587.500000   19419.273532  162856.0  169721.75  176587.5
48     2.0  152808.000000  128443.118375   61985.0  107396.50  152808.0
47     8.0  128878.500000   67380.633053   24723.0   89641.00  120711.0
46    13.0  170797.846154   88035.609467   26781.0  133969.00  147640.0
45     5.0   87854.200000   93655.957457   26781.0   26781.00   26781.0
44     4.0  106413.500000   65717.346388   33105.0   82518.00   99786.5
43     8.0  150311.000000   77209.211109   19914.0   93100.50  178305.5
42    13.0  113468.384615   85920.970203   23813.0   31387.00  108506.0
41     5.0  138658.000000   80349.040819   47170.0  113555.00  118721.0
40    11.0  119502.181818   93649.945804   20109.0   73040.50   96509.0
39     7.0   83539.000000   33041.571931   19914.0   72679.00   89419.0
38     6.0   87902.666667   65457.626672   31352.0   35226.50   63080.5
37     7.0  115490.714286   69269.328756   25864.0   68014.00  116358.0
36     5.0  107067.400000   65314.823301   32587.0   68089.00   88967.0
35    16.0   98522.625000   51866.462059   22055.0   71101.75  105223.5
34     8.0  115391.625000   88294.804799   22641.0   33020.00  108362.5
33     7.0  122588.857143  113206.419007   27959.0   50806.50   98145.0
32     7.0  136745.714286   85103.432402   27939.0   64975.50  163530.0
31    16.0  118253.062500   96582.076694   22201.0   57409.50   97237.0
30    10.0  181404.000000  128468.828473   23037.0   69468.50  158156.5
29    11.0   95232.636364   67714.025110   22641.0   28158.00  100405.0
28    14.0   87593.000000   93787.897013   24153.0   25955.00   39275.5
27    11.0  115923.454545   68421.330878   23740.0   61741.00  129661.0
26     3.0  106531.666667   40411.040327   73392.0   84022.00   94652.0
25     9.0  144497.222222  116454.389611   12285.0   44216.00  130397.0
24     6.0  153098.000000  137543.252751   19410.0   32603.25  138534.0
23    13.0  109204.000000   88232.594202   13769.0   33105.00   99399.0
22     9.0  147079.222222   80070.263533   29444.0  108506.00  145477.0
21     6.0  181713.000000   91018.186890   75763.0  103932.75  190530.5
20     3.0   66616.666667   61632.489730   27337.0   31099.50   34862.0
19     6.0   82268.333333   87982.956676   29083.0   30048.50   32143.5
18     4.0  147675.500000  124316.647074   40829.0   50039.00  124003.0
17     3.0   85667.333333   52726.233000   27415.0   63438.50   99462.0

                         education-num             ... capital-loss          \
           75%       max         count       mean  ...          75%     max
age                                                ...
82    52921.00   52921.0           1.0  10.000000  ...          0.0     0.0
80    20101.00   20101.0           1.0   9.000000  ...          0.0     0.0
74    33114.00   33114.0           1.0   6.000000  ...          0.0     0.0
71   322789.00  322789.0           1.0   9.000000  ...          0.0     0.0
68   104847.00  121846.0           2.0   4.000000  ...          0.0     0.0
67   126849.00  126849.0           1.0   6.000000  ...          0.0     0.0
65   178931.00  178931.0           1.0   9.000000  ...          0.0     0.0
63   341526.50  445168.0           2.0   8.500000  ...          0.0     0.0
62    68461.00   68461.0           1.0  16.000000  ...          0.0     0.0
61   130466.00  130466.0           1.0   9.000000  ...          0.0     0.0
60    26495.75  148522.0           6.0   9.000000  ...          0.0     0.0
59   183726.50  205949.0           2.0   8.000000  ...          0.0     0.0
58    69671.50   97969.0           3.0   7.000000  ...          0.0     0.0
57   244344.50  313929.0           3.0  10.333333  ...          0.0     0.0
56   131786.50  162137.0           3.0   6.666667  ...          0.0     0.0
55   126225.50  223716.0           3.0  10.000000  ...          0.0     0.0
53   121618.00  167410.0           5.0   9.000000  ...          0.0     0.0
52   272590.75  282674.0           2.0   6.500000  ...          0.0     0.0
51   214031.00  251487.0          10.0   9.500000  ...          0.0     0.0
50   168391.25  220640.0           4.0  11.500000  ...          0.0     0.0
49   183453.25  190319.0           2.0  11.500000  ...          0.0     0.0
48   198219.50  243631.0           2.0   7.500000  ...          0.0     0.0
47   164427.00  244025.0           8.0   8.625000  ...          0.0     0.0
46   197988.00  363875.0          13.0   8.461538  ...          0.0  1902.0
45   119835.00  239093.0           5.0   8.400000  ...          0.0     0.0
44   123682.00  192976.0           4.0  10.000000  ...          0.0     0.0
43   201248.50  239161.0           8.0  10.375000  ...          0.0     0.0
42   140474.00  304302.0          13.0  11.307692  ...          0.0     0.0
41   147314.00  266530.0           5.0   9.800000  ...          0.0     0.0
40   113341.00  310101.0          11.0   9.818182  ...          0.0  1977.0
39   106708.00  116666.0           7.0   9.571429  ...          0.0     0.0
38   141942.00  175732.0           6.0  10.666667  ...          0.0     0.0
37   156248.00  217689.0           7.0   9.714286  ...          0.0     0.0
36   150309.00  195385.0           5.0   9.200000  ...          0.0     0.0
35   128745.50  197719.0          16.0   9.812500  ...          0.0     0.0
34   170104.00  245487.0           8.0   9.375000  ...          0.0  1564.0
33   137195.00  356015.0           7.0  10.142857  ...          0.0     0.0
32   195156.50  245487.0           7.0   7.857143  ...          0.0  1980.0
31   122401.75  395170.0          16.0   9.687500  ...          0.0     0.0
30   297535.25  356015.0          10.0   9.000000  ...          0.0     0.0
29   151753.50  190636.0          11.0   9.000000  ...          0.0  1485.0
28   112592.00  314649.0          14.0   9.000000  ...          0.0     0.0
27   156266.00  221252.0          11.0   9.272727  ...          0.0     0.0
26   123101.50  151551.0           3.0   9.666667  ...          0.0     0.0
25   258276.00  312338.0           9.0   9.444444  ...          0.0     0.0
24   251180.25  336088.0           6.0   9.333333  ...          0.0     0.0
23   178207.00  306601.0          13.0   9.384615  ...          0.0     0.0
22   216984.00  233955.0           9.0   9.666667  ...          0.0     0.0
21   238196.50  304302.0           6.0   9.166667  ...          0.0     0.0
20    86256.50  137651.0           3.0   9.666667  ...          0.0     0.0
19   103247.50  243941.0           6.0   8.333333  ...          0.0  1721.0
18   221639.50  301867.0           4.0   8.000000  ...          0.0     0.0
17   114793.50  130125.0           3.0   6.666667  ...          0.0     0.0

    hours-per-week
             count       mean        std   min    25%   50%    75%   max
age
82             1.0   3.000000        NaN   3.0   3.00   3.0   3.00   3.0
80             1.0  32.000000        NaN  32.0  32.00  32.0  32.00  32.0
74             1.0  30.000000        NaN  30.0  30.00  30.0  30.00  30.0
71             1.0  35.000000        NaN  35.0  35.00  35.0  35.00  35.0
68             2.0  30.000000  14.142136  20.0  25.00  30.0  35.00  40.0
67             1.0  20.000000        NaN  20.0  20.00  20.0  20.00  20.0
65             1.0  40.000000        NaN  40.0  40.00  40.0  40.00  40.0
63             2.0  48.000000  11.313708  40.0  44.00  48.0  52.00  56.0
62             1.0  40.000000        NaN  40.0  40.00  40.0  40.00  40.0
61             1.0  40.000000        NaN  40.0  40.00  40.0  40.00  40.0
60             6.0  35.000000  13.784049  10.0  32.50  40.0  40.00  50.0
59             2.0  40.000000   0.000000  40.0  40.00  40.0  40.00  40.0
58             3.0  40.000000   0.000000  40.0  40.00  40.0  40.00  40.0
57             3.0  38.333333   2.886751  35.0  37.50  40.0  40.00  40.0
56             3.0  46.666667  16.072751  35.0  37.50  40.0  52.50  65.0
55             3.0  41.000000   3.605551  38.0  39.00  40.0  42.50  45.0
53             5.0  34.200000  12.891858  15.0  28.00  40.0  40.00  48.0
52             2.0  40.000000   0.000000  40.0  40.00  40.0  40.00  40.0
51            10.0  44.000000   6.649979  40.0  40.00  40.0  46.00  60.0
50             4.0  42.500000   5.000000  40.0  40.00  40.0  42.50  50.0
49             2.0  40.000000   0.000000  40.0  40.00  40.0  40.00  40.0
48             2.0  30.000000  14.142136  20.0  25.00  30.0  35.00  40.0
47             8.0  42.125000   6.664136  35.0  39.00  40.0  45.00  56.0
46            13.0  41.769231   9.867065  20.0  40.00  40.0  40.00  60.0
45             5.0  35.200000  15.594871   8.0  40.00  40.0  40.00  48.0
44             4.0  39.500000   1.000000  38.0  39.50  40.0  40.00  40.0
43             8.0  36.875000  10.329396  15.0  37.50  40.0  40.00  50.0
42            13.0  41.923077   8.548504  30.0  40.00  40.0  40.00  60.0
41             5.0  46.600000   4.219005  40.0  45.00  48.0  50.00  50.0
40            11.0  46.545455  14.137635  35.0  40.00  40.0  46.50  84.0
39             7.0  41.142857   3.023716  40.0  40.00  40.0  40.00  48.0
38             6.0  40.833333  18.551729  15.0  32.50  40.0  47.50  70.0
37             7.0  35.714286   9.123491  20.0  31.00  40.0  40.00  48.0
36             5.0  45.000000  11.180340  40.0  40.00  40.0  40.00  65.0
35            16.0  41.500000  12.738393  15.0  39.50  40.0  43.75  60.0
34             8.0  44.625000   8.667468  32.0  40.00  42.5  49.00  60.0
33             7.0  41.285714   9.945087  30.0  35.50  40.0  44.00  60.0
32             7.0  45.714286   9.759001  40.0  40.00  40.0  50.00  60.0
31            16.0  37.562500   5.773142  24.0  38.75  40.0  40.00  45.0
30            10.0  43.500000  18.638371   8.0  40.00  40.0  46.00  84.0
29            11.0  46.181818   8.908627  40.0  40.00  40.0  49.00  65.0
28            14.0  43.214286   8.902710  30.0  40.00  40.0  43.75  60.0
27            11.0  36.090909  18.822617   8.0  29.00  40.0  41.50  75.0
26             3.0  39.333333   9.018500  30.0  35.00  40.0  44.00  48.0
25             9.0  35.000000   8.660254  20.0  35.00  40.0  40.00  40.0
24             6.0  42.166667   5.671567  35.0  40.00  40.0  46.00  50.0
23            13.0  35.769231   5.340940  25.0  30.00  40.0  40.00  40.0
22             9.0  48.666667  18.794946  25.0  40.00  40.0  50.00  84.0
21             6.0  34.666667  15.266521   4.0  38.50  40.0  40.00  46.0
20             3.0  53.333333  16.653328  40.0  44.00  48.0  60.00  72.0
19             6.0  27.500000  10.368221  15.0  21.25  25.0  36.25  40.0
18             4.0  26.250000   9.464847  20.0  20.00  22.5  28.75  40.0
17             3.0  20.000000   0.000000  20.0  20.00  20.0  20.00  20.0

[53 rows x 40 columns]

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [14]:
# эта строчка уже была в документе
# наверно, к этому нужно было бы прийти самостоятельно
# data["married"] = data["marital-status"].apply(lambda row: "Married" in row)

all_men = (data[data.sex == 'Male'].married == True).shape[0]
married_men = data.query('sex == "Male" and married == True and salary == ">50K"').shape[0]
single_men = data.query('sex == "Male" and married == False and salary == ">50K"').shape[0]
married_percent = married_men / all_men
single_percent = single_men / all_men

print(f"Доля среди женатых: {married_percent}")
print(f"Доля среди холостых: {single_percent}")

Доля среди женатых: 0.2737494263423589
Доля среди холостых: 0.03198715006883892

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [23]:
max_hours = data['hours-per-week'].max()
salary = ">50K"
print(f"Максимальное число часов: {max_hours}")
print(f"Столько людей работает: {data[data['hours-per-week'] == max_hours].shape[0]}")
print(f"Столько из них зарабатывает >50K: {(data[data['hours-per-week'] == max_hours].query('salary == @salary')).shape[0]}")

Максимальное число часов: 99
Столько людей работает: 85
Столько из них зарабатывает >50K: 25

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [27]:
print(f"Для зарабатывающих много: {data[data.salary == '>50K'].groupby('native-country')['hours-per-week'].mean()}")
print(f"Для зарабатывающих мало: {data[data.salary == '<=50K'].groupby('native-country')['hours-per-week'].mean()}")

Для зарабатывающих много: native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64
Для зарабатывающих мало: native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64