- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [21]:
import pandas as pd
import numpy as np

In [3]:
# не меняем путь!
PATH = 'https://github.com/aksenov7/Kaggle_competition_group/blob/master/athlete_events.csv.zip?raw=true'

__0. Откройте файл используя необходимые параметры и не меняя переменную PATH__

In [4]:
data = pd.read_csv(PATH, compression='zip', sep=',')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. Сколько лет было самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года ?__
- 16 и 15
- 14 и 13 
- 13 и 11
- 11 и 12

In [12]:
print(data[data['Year']==1992].groupby(['Sex'])['Age'].min())

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

__2. Каков был процент баскетболистов-мужчин среди всех мужчин-участников Олимпийских игр 2012 года? Округлите ответ до первого десятичного знака.__

Здесь и далее при необходимости отбрасывайте дублированных спортсменов, чтобы считать только уникальных . 
- 0.2
- 1.5 
- 2.5
- 7.7

In [82]:
d_men = data[(data['Sex']=='M') & (data['Year']==2012)].drop_duplicates(subset=['ID'],inplace=False)
dol = d_men['Sport'].value_counts(normalize=True)['Basketball']
print(np.round(dol*100, 1))

2.5

__3. Каковы среднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого десятичного знака.__

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [41]:
tenn_f = data[(data['Sex']=='F') & (data['Year']==2000) & (data['Sport']=='Tennis')]
print(tenn_f.describe())
print(np.round(tenn_f['Height'].mean(),1), 'и', np.round(tenn_f['Height'].std(),1))

                  ID         Age      Height      Weight    Year
count     126.000000  126.000000  125.000000  125.000000   126.0
mean    76328.388889   23.396825  171.792000   61.536000  2000.0
std     39698.652992    3.516997    6.458673    5.908638     0.0
min      4723.000000   17.000000  150.000000   52.000000  2000.0
25%     42905.750000   21.000000  168.000000   57.000000  2000.0
50%     75706.000000   24.000000  172.000000   60.000000  2000.0
75%    115461.500000   26.000000  176.000000   65.000000  2000.0
max    135502.000000   30.000000  191.000000   79.000000  2000.0
171.8 и 6.5

__4. Найдите спортсмена, который участвовал в Олимпийских играх 2006 года, с наибольшим весом среди других участников той же Олимпиады. Каким спортом он или она занимался?__

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [47]:
qwe = data[data['Year']==2006]['Weight'].max()
print(data[(data['Year']==2006) & (data['Weight']==qwe)]['Sport'])

8102    Skeleton
Name: Sport, dtype: object

__5. Сколько раз John Aalberg участвовал в Олимпийских играх в разные годы?__

Один год - это один раз. Неважно сколько участий внутри одного года
- 0
- 1 
- 2
- 3

In [54]:
print(len(data[data['Name']=='John Aalberg'].drop_duplicates('Year')))

2

__6. Сколько золотых медалей по теннису выиграли спортсмены сборной Switzerland на Олимпиаде-2008? Считайте каждую медаль от каждого спортсмена.__

- 0
- 1 
- 2
- 3

In [64]:
gold = data[(data['Team']=='Switzerland') & (data['Sport']=='Tennis') & (data['Year']==2008) & (data['Medal']=='Gold')]
print(len(gold))
print(gold)

2
            ID                Name Sex   Age  Height  Weight         Team  \
67290    34396       Roger Federer   M  26.0   185.0    80.0  Switzerland
257672  129042  Stanislas Wawrinka   M  23.0   183.0    79.0  Switzerland

        NOC        Games  Year  Season     City   Sport                 Event  \
67290   SUI  2008 Summer  2008  Summer  Beijing  Tennis  Tennis Men's Doubles
257672  SUI  2008 Summer  2008  Summer  Beijing  Tennis  Tennis Men's Doubles

       Medal
67290   Gold
257672  Gold

__7. Правда ли, что на Олимпийских играх 2016 Spain выиграла меньше медалей, чем Италия?__ 

- Да
- Нет

In [106]:
Spain_medals = len(data[(data['Team']=='Spain') & (data['Year']==2016)].dropna(subset=['Medal']))

Italy_medals = len(data[(data['Team']=='Italy') & (data['Year']==2016)].dropna(subset=['Medal']))

print('Испания :',Spain_medals, 'Италия :',Italy_medals)

Испания : 43 Италия : 70

__8. К какой возрастной категории принадлежало наименьшее и наибольшее количество участников Олимпиады-2008?__

- [45-55] и [25-35) соответственно
- [45-55] и [15-25) соответственно
- [35-45) и [25-35) соответственно
- [45-55] и [35-45) соответственно

In [67]:
data_2008 = (data[data.Year == 2008].drop_duplicates(subset='Name'))

print('[15, 25): ', len(data_2008[(data_2008['Age']>= 15) & (data_2008['Age'] < 25)]))
print('[25, 35): ', len(data_2008[(data_2008['Age']>= 25) & (data_2008['Age'] < 35)]))
print('[35, 45): ', len(data_2008[(data_2008['Age']>= 35) & (data_2008['Age'] < 45)]))
print('[45, 55]: ', len(data_2008[(data_2008['Age']>= 45) & (data_2008['Age'] < 55)]))

[15, 25):  4776
[25, 35):  5373
[35, 45):  630
[45, 55]:  76

__9. Правда ли, что в Atlanta проводились летние Олимпийские игры? Правда ли, что в Squaw Valley проводились зимние Олимпийские игры? ?__

- Да, Да
- Да, Нет
- Нет, Да 
- Нет, Нет

In [70]:
(pd.crosstab(data['City'], data['Season']).loc[['Atlanta', 'Squaw Valley']])

Season        Summer  Winter
City
Atlanta        13780       0
Squaw Valley       0    1116

__10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1986 года и Олимпиаде 2002 года?__

- 3 
- 10
- 15
- 27

In [73]:
print(abs(data[data['Year'] == 1986]['Sport'].nunique() - data[data['Year'] == 2002]['Sport'].nunique()))

15