- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH = 'https://github.com/aksenov7/Kaggle_competition_group/blob/master/athlete_events.csv.zip?raw=true'

__0. Откройте файл используя необходимые параметры и не меняя переменную PATH__

In [6]:
data = pd.read_csv(PATH, compression='zip', sep=',')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. Сколько лет было самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года ?__
- 16 и 15
- 14 и 13 
- 13 и 11
- 11 и 12

In [7]:
data[data['Year']==1992].groupby(['Sex'])['Age'].min()

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

Самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года было 11 и 12 лет соответственно

__2. Каков был процент баскетболистов-мужчин среди всех мужчин-участников Олимпийских игр 2012 года? Округлите ответ до первого десятичного знака.__

Здесь и далее при необходимости отбрасывайте дублированных спортсменов, чтобы считать только уникальных . 
- 0.2
- 1.5 
- 2.5
- 7.7

In [8]:
man = data[(data['Sex']=='M')&(data['Year']==2012)].drop_duplicates(subset=['ID'],inplace=False)
basketball_man = man['Sport'].value_counts(normalize=True)['Basketball']
np.round(basketball_man*100,1)

2.5

Самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года было 11 и 12 лет

__3. Каковы среднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого десятичного знака.__

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [37]:
deviation = data[(data['Year'] == 2000)&(data['Sex'] == 'F')&(data['Sport'] == 'Tennis')]
res_2 = round(deviation['Height'].std(), 1)
res_1 = round(deviation['Height'].mean(), 1)
print("Cреднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года:", res_1, "и", res_2)

Cреднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года: 171.8 и 6.5

__4. Найдите спортсмена, который участвовал в Олимпийских играх 2006 года, с наибольшим весом среди других участников той же Олимпиады. Каким спортом он или она занимался?__

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [12]:
highest_weight = data[(data['Year']==2006)]['Weight'].max()
print(data[(data['Year']==2006)&(data['Weight']==highest_weight)]['Sport'])

8102    Skeleton
Name: Sport, dtype: object

Спортсмен с наибольшим весом, участвовавший в Олимпийских играх 2006 года, занимался Skeleton.

__5. Сколько раз John Aalberg участвовал в Олимпийских играх в разные годы?__

Один год - это один раз. Неважно сколько участий внутри одного года
- 0
- 1 
- 2
- 3

In [17]:
count_name = len(data[data['Name'] == 'John Aalberg'].drop_duplicates(['Year']))
print("John Aalberg участвовал в Олимпийских играх" ,count_name, "раза")

John Aalberg участвовал в Олимпийских играх 2 раза

__6. Сколько золотых медалей по теннису выиграли спортсмены сборной Switzerland на Олимпиаде-2008? Считайте каждую медаль от каждого спортсмена.__

- 0
- 1 
- 2
- 3

In [19]:
number_peoples = data[(data['Year'] == 2008)&(data['Sport'] == 'Tennis')&(data['Medal'] == 'Gold')&(data['Team'] == 'Switzerland')]
count_medal = len(number_peoples)
print("Спортсмены по теннису сборной Switzerland на Олимпиаде-2008 выиграли", count_medal, "медали")

Спортсмены по теннису сборной Switzerland на Олимпиаде-2008 выиграли 2 медали

__7. Правда ли, что на Олимпийских играх 2016 Spain выиграла меньше медалей, чем Италия?__ 

- Да
- Нет

In [20]:
people_year = data[data['Year'] == 2016]
people_italy = people_year[people_year['Team'] == 'Italy']['Medal'].dropna()
people_spain = people_year[people_year['Team'] == 'Spain']['Medal'].dropna()
print('Правда') if len(people_spain) < len(people_italy) else print('Не правда')

Правда

__8. К какой возрастной категории принадлежало наименьшее и наибольшее количество участников Олимпиады-2008?__

- [45-55] и [25-35) соответственно
- [45-55] и [15-25) соответственно
- [35-45) и [25-35) соответственно
- [45-55] и [35-45) соответственно

In [30]:
age = data[(data['Year'] == 2008)][['Age']]
age_15_25 = len(age[(age['Age'] >= 15) & (age['Age'] < 25)])
age_25_35 = len(age[(age['Age'] >= 25) & (age['Age'] < 35)])
age_35_45 = len(age[(age['Age'] >= 35) & (age['Age'] < 45)])
age_45_55 = len(age[(age['Age'] >= 45) & (age['Age'] <= 55)])
print(f'[45-55] и [25-35): {age_45_55} и {age_25_35} соответственно\n')
print(f'[45-55] и [15-25): {age_45_55} и {age_15_25} соответственно\n')
print(f'[35-45) и [25-35): {age_35_45} и {age_25_35} соответственно\n')
print(f'[45-55] и [35-45): {age_45_55} и {age_35_45} соответственно\n')
print(f'Ответ: [45-55] и [25-35) соответственно')

[45-55] и [25-35): 119 и 6367 соответственно

[45-55] и [15-25): 119 и 6294 соответственно

[35-45) и [25-35): 790 и 6367 соответственно

[45-55] и [35-45): 119 и 790 соответственно

Ответ: [45-55] и [25-35) соответственно

__9. Правда ли, что в Atlanta проводились летние Олимпийские игры? Правда ли, что в Squaw Valley проводились зимние Олимпийские игры? ?__

- Да, Да
- Да, Нет
- Нет, Да 
- Нет, Нет

In [31]:
atlanta_sum = data[(data['City'] == 'Atlanta')&(data['Season'] == 'Summer')]
squaw_valley_win = data[(data['City'] == 'Squaw Valley') & (data['Season'] == 'Winter')]
print('Да, ', end='') if len(atlanta_sum) > 0 else print('Нет, ', end='')
print('Да') if len(squaw_valley_win) > 0 else print('Нет')

Да, Да

__10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1986 года и Олимпиаде 2002 года?__

- 3 
- 10
- 15
- 27

In [33]:
abs_difference = abs(data[data['Year']==1986]['Sport'].nunique()-data[data['Year']==2002]['Sport'].nunique())
print("Абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1986 года и Олимпиаде 2002 года - ", abs_difference )

Абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1986 года и Олимпиаде 2002 года -  15