- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
# не меняем путь!
PATH = 'https://github.com/aksenov7/Kaggle_competition_group/blob/master/athlete_events.csv.zip?raw=true'

__0. Откройте файл используя необходимые параметры и не меняя переменную PATH__

In [7]:

data = pd.read_csv(PATH, compression='zip', header=0, sep=',', quotechar='"')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. Сколько лет было самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года ?__
- 16 и 15
- 14 и 13 
- 13 и 11
- 11 и 12

In [33]:
data.groupby('Sex')['Age'].min()

Sex
F    11.0
M    10.0
Name: Age, dtype: float64

__2. Каков был процент баскетболистов-мужчин среди всех мужчин-участников Олимпийских игр 2012 года? Округлите ответ до первого десятичного знака.__

Здесь и далее при необходимости отбрасывайте дублированных спортсменов, чтобы считать только уникальных . 
- 0.2
- 1.5 
- 2.5
- 7.7

In [39]:
len(data[(data['Sex'] == 'M') & (data['Year'] == 2012) & (data['Sport'] == 'Basketball')]) / \
len(data[(data['Sex'] == 'M') & (data['Year'] == 2012)])

0.020267417311752287

__3. Каковы среднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого десятичного знака.__

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [66]:
data[(data['Year'] == 2000) & (data['Sex'] == 'F')]['Height'].agg(['mean', 'std'])

mean    168.972903
std       9.460832
Name: Height, dtype: float64

__4. Найдите спортсмена, который участвовал в Олимпийских играх 2006 года, с наибольшим весом среди других участников той же Олимпиады. Каким спортом он или она занимался?__

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [79]:
max_weight = data[data['Year'] == 2006]['Weight'].max()
data[(data['Year'] == 2006) & (data['Weight'] == max_weight)]['Sport']

8102    Skeleton
Name: Sport, dtype: object

__5. Сколько раз John Aalberg участвовал в Олимпийских играх в разные годы?__

Один год - это один раз. Неважно сколько участий внутри одного года
- 0
- 1 
- 2
- 3

In [84]:
data[data['Name'] == 'John Aalberg']['Year'].nunique()

2

__6. Сколько золотых медалей по теннису выиграли спортсмены сборной Switzerland на Олимпиаде-2008? Считайте каждую медаль от каждого спортсмена.__

- 0
- 1 
- 2
- 3

In [91]:
len(data[(data['Year'] == 2008) & (data['Team'] == 'Switzerland') & (data['Medal'] == 'Gold')])

3

__7. Правда ли, что на Олимпийских играх 2016 Spain выиграла меньше медалей, чем Италия?__ 

- Да
- Нет

In [98]:
len(data[(data['Year'] == 2016) & (data['Team'] == 'Spain') & (data['Medal'].notna())]) < \
len(data[(data['Year'] == 2016) & (data['Team'] == 'Italy') & (data['Medal'].notna())])

True

__8. К какой возрастной категории принадлежало наименьшее и наибольшее количество участников Олимпиады-2008?__

- [45-55] и [25-35) соответственно
- [45-55] и [15-25) соответственно
- [35-45) и [25-35) соответственно
- [45-55] и [35-45) соответственно

In [121]:
#(15 <= data[data['Year'] == 2008]['Age']) & (data[data['Year'] == 2008]['Age'] < 25)
categories =[len(data[data['Year'] == 2008][(data['Age'] < 25 + 10*i) & (data['Age'] >= 15 + 10*i)]) for i in range(4)]
max_i = categories.index(max(categories))
min_i = categories.index(min(categories))
print('Max category: ', f"[{15 + 10 * max_i}-{25 + 10 * max_i}]")
print('Min category: ', f"[{15 + 10 * min_i}-{25 + 10 * min_i}]")

Max category:  [25-35]
Min category:  [45-55]

C:\Users\Матвей\AppData\Local\Temp\ipykernel_16644\3673336271.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  categories =[len(data[data['Year'] == 2008][(data['Age'] < 25 + 10*i) & (data['Age'] >= 15 + 10*i)]) for i in range(4)]

__9. Правда ли, что в Atlanta проводились летние Олимпийские игры? Правда ли, что в Squaw Valley проводились зимние Олимпийские игры? ?__

- Да, Да
- Да, Нет
- Нет, Да 
- Нет, Нет

In [128]:
(any(data[data['City'] == 'Atlanta']['Season'] == 'Summer'),
any(data[data['City'] == 'Squaw Valley']['Season'] == 'Winter'))

(True, True)

__10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1986 года и Олимпиаде 2002 года?__

- 3 
- 10
- 15
- 27

In [138]:
# data[data['Year'] == 1986]['Sport'].nunique() == 0 => Разница между 2002 и 1986 == 15 - 0 = 15
abs(data[data['Year'] == 2002]['Sport'].nunique() - data[data['Year'] == 1996]['Sport'].nunique())

16