- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
# не меняем путь!
PATH = 'https://github.com/aksenov7/Kaggle_competition_group/blob/master/athlete_events.csv.zip?raw=true'

__0. Откройте файл используя необходимые параметры и не меняя переменную PATH__

In [4]:
data = pd.read_csv(PATH, compression='zip', sep=',')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. Сколько лет было самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года ?__
- 16 и 15
- 14 и 13 
- 13 и 11
- 11 и 12

In [5]:
df_0 = data[data["Year"] == 1992]
df_1 = df_0[df_0["Sex"] == 'M']["Age"].min()
print("Самым молодым мужчинам было: ", int(df_1))
df_2 = df_0[df_0["Sex"] == 'F']["Age"].min()
print("Самым молодым женщинам было: ", int(df_2))

Самым молодым мужчинам было:  11
Самым молодым женщинам было:  12

__2. Каков был процент баскетболистов-мужчин среди всех мужчин-участников Олимпийских игр 2012 года? Округлите ответ до первого десятичного знака.__

Здесь и далее при необходимости отбрасывайте дублированных спортсменов, чтобы считать только уникальных . 
- 0.2
- 1.5 
- 2.5
- 7.7

In [6]:
df = data[data["Year"] == 2012]
df_1 = df[df["Sex"] == "M"]
df_2 = df_1[df_1["Sport"] == "Basketball"]
procent = len(df_2["ID"].drop_duplicates()) / len(df_1["ID"].drop_duplicates()) * 100
print("Процент баскетболистов-мужчин среди всех мужчин-участников: ", str(round(procent, 1)))

Процент баскетболистов-мужчин среди всех мужчин-участников:  2.5

__3. Каковы среднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого десятичного знака.__

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [7]:
df = data[data["Year"] == 2000]
df_1 = df[df["Sex"] == "F"]
df_2 = df_1[df_1["Sport"] == "Tennis"]
print("Среднее отклонение роста теннистисток: ", round(df_2["Height"].mean(), 1))
print("Стандартное отклонение роста теннистисток: ", round(df_2["Height"].std(), 1))

Среднее отклонение роста теннистисток:  171.8
Стандартное отклонение роста теннистисток:  6.5

__4. Найдите спортсмена, который участвовал в Олимпийских играх 2006 года, с наибольшим весом среди других участников той же Олимпиады. Каким спортом он или она занимался?__

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [27]:
df = data[data["Year"] == 2006]
max_weight = df["Weight"].max()
sportsman = df[df["Weight"] == max_weight]
print('Спорт: ', sportsman["Sport"])

Спорт:  8102    Skeleton
Name: Sport, dtype: object

__5. Сколько раз John Aalberg участвовал в Олимпийских играх в разные годы?__

Один год - это один раз. Неважно сколько участий внутри одного года
- 0
- 1 
- 2
- 3

In [17]:
df_0 = data[data["Name"] == "John Aalberg"]
participations = len(df_0["Age"].drop_duplicates())
print("John Aalberg участвовал", participations, "раз(-а) в Олипийских играх в разные годы!")

John Aalberg участвовал 2 раз(-а) в Олипийских играх в разные годы!

__6. Сколько золотых медалей по теннису выиграли спортсмены сборной Switzerland на Олимпиаде-2008? Считайте каждую медаль от каждого спортсмена.__

- 0
- 1 
- 2
- 3

In [25]:
df_0 = data[data["Team"] == "Switzerland"]
df_1 = df_0[df_0["Sport"] == "Tennis"]
df_2 = df_1[df_1["Year"] == 2008]
df_3 = df_2[df_2["Medal"] == "Gold"]
print(len(df_3), "золотые медали выиграли теннисисты из Швейцарии.")

2 золотые медали выиграли теннисисты из Швейцарии

__7. Правда ли, что на Олимпийских играх 2016 Spain выиграла меньше медалей, чем Италия?__ 

- Да
- Нет

In [91]:
df_0 = data[data["Year"] == 2016]
Spain_all = df_0[df_0["Team"] == "Spain"]["Medal"].dropna()
Italy_all = df_0[df_0["Team"] == "Italy"]["Medal"].dropna()
print("Да") if len(Spain_all) < len(Italy_all) else print("Нет")

Да

__8. К какой возрастной категории принадлежало наименьшее и наибольшее количество участников Олимпиады-2008?__

- [45-55] и [25-35) соответственно
- [45-55] и [15-25) соответственно
- [35-45) и [25-35) соответственно
- [45-55] и [35-45) соответственно

In [26]:
df = data[data["Year"] == 2008]
df_groups = [
    len(df[(df["Age"] >= 45) & (df["Age"] <= 55)]),
    len(df[(df["Age"] >= 25) & (df["Age"] < 35)]),
    len(df[(df["Age"] >= 15) & (df["Age"] < 25)]),
    len(df[(df["Age"] >= 35) & (df["Age"] < 45)])
]
_max_ = max(df_groups)
_min_ = min(df_groups)
dictionary = {
    0 : "[45-55]",
    1 : "[25-35)",
    2 : "[15-25)",
    3 : "[35-45]"
}
#дальше я хотел красиво вывести результат
#flag = False
for i in range(len(df_groups)):
    if df_groups[i] == _max_: print(dictionary.get(i), end=' ')
    if df_groups[i] == _min_: print(dictionary.get(i), end=' ')

[45-55] [25-35)

__9. Правда ли, что в Atlanta проводились летние Олимпийские игры? Правда ли, что в Squaw Valley проводились зимние Олимпийские игры? ?__

- Да, Да
- Да, Нет
- Нет, Да 
- Нет, Нет

In [66]:
df_Atlanta = data[(data["City"] == "Atlanta") & (data["Season"] == "Summer")]
df_Squaw_Valley = data[(data["City"] == "Squaw Valley") & (data["Season"] == "Winter")]
print("Да, ", end='') if len(df_Atlanta) > 0 else print("Нет, ", end='')
print("Да") if len(df_Squaw_Valley) > 0 else print("Нет")

Да, Да

__10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1986 года и Олимпиаде 2002 года?__

- 3 
- 10
- 15
- 27

In [80]:
df_1986 = data[data["Year"] == 1986].drop_duplicates("Sport")
df_2002 = data[data["Year"] == 2002].drop_duplicates("Sport")
print("Абсолютная разница уникальных видов спорта:", str(abs(len(df_1986) - len(df_2002))))

Абсолютная разница уникальных видов спорта: 15