- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# не меняем путь!
PATH = 'https://github.com/aksenov7/Kaggle_competition_group/blob/master/athlete_events.csv.zip?raw=true'

__0. Откройте файл используя необходимые параметры и не меняя переменную PATH__

In [3]:
data = pd.read_csv(PATH, compression='zip', sep=',')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. Сколько лет было самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года ?__
- 16 и 15
- 14 и 13 
- 13 и 11
- 11 и 12

In [4]:
people = data[data['Year'] == 1992][['Sex', 'Age']]
male_age = people[people['Sex'] == 'M']['Age'].min()
female_age = people[people['Sex'] == 'F']['Age'].min()
print(f'Самый молодой мужчина: {int(male_age)} лет')
print(f'Самая молодая женщина: {int(female_age)} лет')

Самый молодой мужчина: 11 лет
Самая молодая женщина: 12 лет

__2. Каков был процент баскетболистов-мужчин среди всех мужчин-участников Олимпийских игр 2012 года? Округлите ответ до первого десятичного знака.__

Здесь и далее при необходимости отбрасывайте дублированных спортсменов, чтобы считать только уникальных . 
- 0.2
- 1.5 
- 2.5
- 7.7

In [5]:
people = data[(data['Sex'] == 'M') & (data['Year'] == 2012)].drop_duplicates()
bb_players = people[people['Sport'] == 'Basketball']
print(f'Процент баскетболистов-мужчин: {round(len(bb_players) / len(people) * 100, 2)}%')

Процент баскетболистов-мужчин: 2.03%

__3. Каковы среднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого десятичного знака.__

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [6]:
female = data[(data['Sex'] == 'F') & (data['Year'] == 2000) & (data['Sport'] == 'Tennis')][['Height']]
print(round(female.mean()['Height'], 1))
print(round(female.std()['Height'], 1))

171.8
6.5

__4. Найдите спортсмена, который участвовал в Олимпийских играх 2006 года, с наибольшим весом среди других участников той же Олимпиады. Каким спортом он или она занимался?__

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [21]:
people = data[data['Year'] == 2006][['Weight', 'Sex', 'Sport']]
max_weight = people['Weight'].max()
people[people['Weight'] == max_weight]

      Weight Sex     Sport
8102   127.0   M  Skeleton

__5. Сколько раз John Aalberg участвовал в Олимпийских играх в разные годы?__

Один год - это один раз. Неважно сколько участий внутри одного года
- 0
- 1 
- 2
- 3

In [35]:
count = data[data['Name'] == 'John Aalberg']['Year'].drop_duplicates().count()
print(f'Он участвовал __{count}__ раза')

Он участвовал __2__ раза

__6. Сколько золотых медалей по теннису выиграли спортсмены сборной Switzerland на Олимпиаде-2008? Считайте каждую медаль от каждого спортсмена.__

- 0
- 1 
- 2
- 3

In [45]:
people = data[(data['Year'] == 2008) 
              & (data['Team'] == 'Switzerland') 
              & (data['Medal'] == 'Gold') 
              & (data['Sport'] == 'Tennis')]
print(f'Всего медалей: __{len(people)}__')

Всего медалей: __2__

__7. Правда ли, что на Олимпийских играх 2016 Spain выиграла меньше медалей, чем Италия?__ 

- Да
- Нет

In [55]:
people = data[(data['Year'] == 2016) & (data['Medal'].notnull())][['Team', 'Medal']]
italy = people[people['Team'] == 'Italy']['Medal'].count()
spain = people[people['Team'] == 'Spain']['Medal'].count()
print(italy > spain)

True

__8. К какой возрастной категории принадлежало наименьшее и наибольшее количество участников Олимпиады-2008?__

- [45-55] и [25-35) соответственно
- [45-55] и [15-25) соответственно
- [35-45) и [25-35) соответственно
- [45-55] и [35-45) соответственно

In [70]:
people = data[(data['Year'] == 2008)][['Age']]
age_45_55 = len(people[(people['Age'] >= 45) & (people['Age'] <= 55)])
age_35_45 = len(people[(people['Age'] >= 35) & (people['Age'] < 45)])

age_25_35 = len(people[(people['Age'] >= 25) & (people['Age'] < 35)])
age_15_25 = len(people[(people['Age'] >= 15) & (people['Age'] <= 25)])
print(f'[45-55] и [25-35): {age_45_55} и {age_25_35}\n'\
        f'[45-55] и [15-25): {age_45_55} и {age_15_25}\n'\
        f'[35-45) и [25-35): {age_35_45} и {age_25_35}\n'\
        f'[45-55] и [35-45): {age_45_55} и {age_35_45}\n')
print(f'Ответ: [45-55] и [15-25) соответственно')

[45-55] и [25-35): 119 и 6367
[45-55] и [15-25): 119 и 7352
[35-45) и [25-35): 790 и 6367
[45-55] и [35-45): 119 и 790

Ответ: [45-55] и [15-25) соответственно

__9. Правда ли, что в Atlanta проводились летние Олимпийские игры? Правда ли, что в Squaw Valley проводились зимние Олимпийские игры? ?__

- Да, Да
- Да, Нет
- Нет, Да 
- Нет, Нет

In [81]:
atlanta = len(data[(data['Season'] == 'Summer') & (data['City'] == 'Atlanta')])
s_v = len(data[(data['Season'] == 'Winter') & (data['City'] == 'Squaw Valley')])
print(f'Атланта: {atlanta > 0}')
print(f'Squaw Valley: {s_v > 0}')

Атланта: True
Squaw Valley: True

__10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1986 года и Олимпиаде 2002 года?__

- 3 
- 10
- 15
- 27

In [86]:
ol_1986 = len(data[data["Year"]==2002].drop_duplicates(subset=['Sport']))
ol_2002 = len(data[data["Year"]==1986].drop_duplicates(subset=['Sport']))
print(ol_1986 - ol_2002)

15