In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH = 'https://github.com/aksenov7/Kaggle_competition_group/blob/master/athlete_events.csv.zip?raw=true'

In [3]:
data=pd.read_csv(PATH, compression='zip', sep=',').drop_duplicates().set_index("ID")
data.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
df=data[data["Year"]==1992]
min_male=df[df["Sex"]=="M"]["Age"].describe()["min"]
min_female=df[df["Sex"]=="F"]["Age"].describe()["min"]
print("Сколько лет было самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года ?",min_male,min_female) 
print("Ответ: 4")

Сколько лет было самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года ? 11.0 12.0
Ответ: 4

In [6]:
print(len(data))
data_2=data.drop_duplicates(subset=['Name'], keep='first').set_index("Name")
print(len(data_2))
data_2.head()

269731
134732

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Name,,,,,,,,,,,,,
A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
df=data_2[(data_2["Year"]==2012) & (data_2["Sex"]=="M")]
df_basketball=data_2[(data_2["Year"]==2012) & (data_2["Sex"]=="M")&(data_2["Sport"]=="Basketball")]
print("Процент баскетболистов-мужчин",round(len(df_basketball)/len(df)*100,1))

Процент баскетболистов-мужчин 2.7

In [9]:
df=data_2[(data_2["Year"]==2000) & (data_2["Sex"]=="F")&(data_2["Sport"]=="Tennis")]["Height"].describe()
print("Среднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года?",round(df["mean"],1),round(df["std"],1))

Среднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? 172.4 6.4

In [10]:
max_weight=data_2[data_2["Year"]==2006]["Weight"].max()
print("максимальный вес",max_weight)
df=data_2[(data_2["Year"]==2006)&(data_2["Weight"]==max_weight)]
print(df["Sport"])
print("Skeleton")

максимальный вес 127.0
Name
Patrick R. Antaki    Skeleton
Name: Sport, dtype: object
Skeleton

In [11]:
df=data[data["Name"]=="John Aalberg"].groupby("Year").count()
print("Сколько раз John Aalberg участвовал в Олимпийских играх в разные годы?",len(df))

Сколько раз John Aalberg участвовал в Олимпийских играх в разные годы? 2

In [12]:
df=data[(data["Team"]=="Switzerland")&(data["Year"]==2008)&(data["Medal"]=="Gold")&(data["Sport"]=="Tennis")]
print("Сколько золотых медалей по теннису выиграли спортсмены сборной Switzerland на Олимпиаде-2008?",len(df))

Сколько золотых медалей по теннису выиграли спортсмены сборной Switzerland на Олимпиаде-2008? 2

In [13]:
df_Spain=data[(data["Year"]==2016)&(data["Team"]=="Spain")&((data["Medal"]=="Gold")|(data["Medal"]=="Silver")|(data["Medal"]=="Bronze"))]
df_Itali=data[(data["Year"]==2016)&(data["Team"]=="Italy")&((data["Medal"]=="Gold")|(data["Medal"]=="Silver")|(data["Medal"]=="Bronze"))]
print("Правда ли, что на Олимпийских играх 2016 Spain выиграла меньше медалей, чем Италия?",len(df_Spain)<len(df_Itali))

Правда ли, что на Олимпийских играх 2016 Spain выиграла меньше медалей, чем Италия? True

In [14]:
df=data_2[data_2["Year"]==2016]
df_1_group=len(df[(df["Age"]>=45) & (df["Age"]<=55)])
df_2_group=len(df[(df["Age"]>=25) & (df["Age"]<35)])
df_3_group=len(df[(df["Age"]>=15) & (df["Age"]<25)])
df_4_group=len(df[(df["Age"]>=35) & (df["Age"]<45)])
max_count=max([df_1_group,df_2_group,df_3_group,df_4_group])
min_count=min([df_1_group,df_2_group,df_3_group,df_4_group])
if df_1_group==max_count:
    print("max","1_group")
elif df_2_group==max_count:
    print("max","2_group")
elif df_3_group==max_count:
    print("max","3_group")
else:
    print("max","4_group")
    
if df_1_group==min_count:
    print("min","1_group")
elif df_2_group==min_count:
    print("min","2_group")
elif df_3_group==min_count:
    print("min","3_group")
else:
    print("min","4_group")
    
print("К какой возрастной категории принадлежало наименьшее и наибольшее количество участников Олимпиады-2008?","[45-55] и [15-25) соответственно")

max 3_group
min 1_group
К какой возрастной категории принадлежало наименьшее и наибольшее количество участников Олимпиады-2008? [45-55] и [15-25) соответственно

In [15]:
df_Atlanta=data[(data["City"]=="Atlanta")&(data["Season"]=="Summer")]
df_Squaw_Valley=data[(data["City"]=="Squaw Valley")&(data["Season"]=="Winter")]
print("Правда ли, что в Atlanta проводились летние Олимпийские игры?",len(df_Atlanta)>=1,"Правда ли, что в Squaw Valley проводились зимние Олимпийские игры?",len(df_Squaw_Valley)>=1)

Правда ли, что в Atlanta проводились летние Олимпийские игры? True Правда ли, что в Squaw Valley проводились зимние Олимпийские игры? True

In [16]:
df_1=data[data["Year"]==2002].drop_duplicates(subset=['Sport'], keep='first')
df_2=data[data["Year"]==1986].drop_duplicates(subset=['Sport'], keep='first')
print(abs(len(df_1)-len(df_2)))

15

In [ ]:
#Во втором и третьем задании не сходится с ответом если удалить одинаковые записи по имени. Если оставить то во втором ответ 2%, в третьем -171.8 и 6.5.